<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TextFileExport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TextFileExport.Properties.Settings>
            <setting name="ConnSetting" serializeAs="String">
                <value>"ConnectionString"</value>
            </setting>
            <setting name="PLCName" serializeAs="String">
                <value>"PLCName"</value>
            </setting>
        </TextFileExport.Properties.Settings>
    </userSettings>
</configuration>